---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostEntryUH from "@/components/entries/PostEntryUH.astro"
const allPosts = await getCollection("projects");

// Sort posts by date in descending order (newest first)
const sortedPosts = allPosts.sort(
    //@ts-ignore
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
---
<BaseLayout>
<style>
  .pad2y {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .limiter {
    max-width: 640px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
</style>
    <div class="pad2y limiter content">

      <ul
      >
            <PostEntryUH
              url={"/uh205/" + sortedPosts[0].slug}
              image={sortedPosts[0].data.image?.url}
              siteUrl={sortedPosts[0].data.siteUrl}
              title={sortedPosts[0].data.name}
              description={sortedPosts[0].data.description}
              alt={sortedPosts[0].data.name}
            />
        
      </ul>
    </div>
</BaseLayout>